<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head xmlns:th="http://www.w3.org/1999/xhtml">-->
    <meta charset="UTF-8">
    <title>Подключение внешнего скрипта</title>
<!--    <script src="../js/addressees.js" type="text/javascript"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../assets/css/myCSS.css">-->
    <script th:src="@{/js/addressees.js}" type="text/javascript"></script>
    <link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/myCSS.css}" rel="stylesheet" type="text/css"/>

</head>

<body>
<h1 align="center"> Список адресатов hello </h1>
<div class="wrapper inner content" align="center">
    <div id="addressess" class='table-wrapper scroll font' >
        <table class="alt">
            <thead>
            <tr>
                <th class="font">ID пользователя</th>
                <th class="font">e-mail</th>
            </tr>
            </thead>
            <tbody id="addressess list">
            </tbody>
        </table>
    </div>
    <ul>
       <input type="button" onclick="getAllAddressees();"
                class="button primary font" name="allAddresses" value="Список адресатов">
    </ul>

    <ul class="actions fit">
        <li>
            <input type="text" class="font" value="" placeholder="email" id="inputE-MAILAdd">
        </li>
        <li>
            <input type="button" onclick="addAddressees();"
                   class="button primary font" name="delAddresses" value="Добавить адресата">
        </li>
    </ul>
    <ul class="actions fit">
        <li>
            <input type="text" value="" class="font" placeholder="id" id="inputID">
        </li>
        <li>
            <input type="text" value="" class="font" placeholder="email"
                   id="inputE-MAILChange">
        </li>
        <li>
            <input type="button" onclick="changeAddresseesOnId();"
                   class="button primary font" name="changeAddresses" value="Изменить адресата">
        </li>
    </ul>
</div>
</body>
</html>