<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Подключение внешнего скрипта</title>
	<script src="../public/js/script.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="../public/assets/css/main.css">
</head>

<body>
	<h1> Список адресатов: </h1>
	<div class="wrapper">
	<div class="inner">
		<div class="content">
<!--			<div class="row">-->
<!--				<div class="col-6 col-12-medium">-->
	<div id="addressess" class='table-wrapper'>
		<table id="addressess list" class="alt">
			<tr class="">
				<th>ID пользователя</th>
				<th>e-mail</th>
			</tr>
		</table>
		</div>
				</div>
	</div>
<!--	</div>-->
<!--	</div>-->
	</div>

	<input type="button" onclick="Hello();" name="allAddresses" value="Список адресатов">
	<div>
		<input type="text" value="" placeholder="email" id="inputE-MAILAdd">
		<input type="button" onclick="add();" name="delAddresses" value="Добавить адресата">
	</div>
	<div>
		<input type="text" value="" placeholder="id" id="inputID">
		<input type="text" value="" placeholder="email" id="inputE-MAILChange">
		<input type="button" onclick="changeOnId();" name="changeAddresses" value="Изменить адресата">
	</div>
</body>
</html>