<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Сообщение</title>
    <header id="header">
        <a class="logo"></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/myCSS.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../js/mustache.js"></script>
</head>

<body onload="onloadPage()">

<nav id="menu">
    <ul class="links">
        <li><a href="/messlist" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Список сообщений</a></li>
        <li><a href="/addr" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Адресаты</a></li>
        <li><a href="/mess" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Добавить рассылку</a></li>
    </ul>
    <a href="#menu" class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a>
</nav>

<h1 align="center"> Редактирование сообщения </h1>
<div class="wrapper inner content" align="center">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <div id="addressess" class='table-wrapper font scroll' style="height: 150px" >
                <table >
                    <thead>
                    <tr></tr>
                    </thead>
                    <tbody id="emailList">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4 col-12-xsmall">
            <input type="text" name="city" id="inputEmail" list="cityname" placeholder="-Выбрать адресата-"
                   oninput="load(this);">
            <datalist id="cityname">
            </datalist>
        </div>

        <div class="col-2 col-12-xsmall">
            <input type="button" onclick="addEmail()"
                   class="button primary font" name="saveMessage" value="Добавить">
        </div>

        <div class="col-12">
            <input type="text" class="font" value="{{#subject}}{{subject}}{{/subject}}"
                   placeholder="Тема" id="messageSubject">
        </div>

        <div class="col-12">
            <textarea class="font" name="textarea" id="messageText"
                      placeholder="Введите текст сообщения"
                      style="resize: none" rows="6">{{#text}}{{text}}{{/text}}</textarea>
        </div>

        <div class="col-12">
            <input type="button" onclick="saveMessage();"
                   class="button primary font" name="saveMessage" value="Сохранить сообщение">
        </div>

    </div>
</div>
<!-- Scripts -->
<script src="../js/message.js" type="text/javascript"></script>
<script src="../js/jquery.js" type="text/javascript"></script>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>